{% load tailwind_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
     <div class="w-3/4 mx-auto mt-10">
            <h1 class="text-4xl">You've been logged out!</h1>
            <hr class="my-4">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class="px-7 py-2 bg-green-400 hover:cursor-pointer hover:bg-green-300 rounded" type="submit" value="Login">
            <input type="hidden" name="next" value={{next}}>
        </form>
     </div>
</body>
</html>


